body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;   
  }

.centerboxstart{
    padding: 190px 0;
    text-align: center;
}

.centerboxgraph{
    padding: 80px 0;
    text-align: center;
}

.box {
    height: 100px;
    background-color: lightgray;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    z-index: -1;
}

.box_1 {
    height: 150px;
    width: 50%;
    background-color: #EA0534;
    z-index: -1;
    float: left;
}

.box_2 {
    height: 150px;
    width: 50%;
    background-color: #017AE4;
    z-index: -1;
    float: left;
}

.box_3 {
    height: 150px;
    width: 50%;
    background-color: #F1D701;
    z-index: -1;
    float: left;
}

.box_4 {
    height: 150px;
    width: 50%;
    background-color: #26AD02;
    z-index: -1;
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}